@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.container {
  display: flex; 
  background-color: #342643;
  height: 650px; 
}

.containerLeft {
  width: 50%;
  background-color: #342643; /* Color de fondo para visualizar */
}

.containerRight {
  width: 50%;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center;
  height: 100vh;
  font-family: "Madimi One", sans-serif;
  font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
  font-style: normal;
  color: pink;
  font-size: 100px; /* Ajusta el tamaño de la fuente según sea necesario */
}
h1{
  font-style: normal;
  color: pink;
  font-size: 55px; /* Ajusta el tamaño de la fuente según sea necesario */
}

h3{
  font-style: normal;
  color: pink;
  font-size: 30px; /* Ajusta el tamaño de la fuente según sea necesario */
}

